@using Business.Models.News;
@model NewsIndexVM;
<h2>News List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <td>Creator</td>
            <th>Comment</th>
            <th>CreatedDate</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var news in Model.AllNews)
        {
            <tr>
                <td>@news.Title</td>
                <td>@(news.Description?.Length >= 15 ? news.Description.Substring(0, 15) + "..." : news.Description)</td>
                <td>Admin</td>
                <td>@news.CreatedDate</td>
                <td>
                    <a href="@Url.Action("Details", "Product", new { id = news.Id })" class="btn btn-info btn-sm">Details</a>
                    <a href="@Url.Action("Update", "Product", new { id = news.Id })" class="btn btn-warning btn-sm">Edit</a>
                    <a href="@Url.Action("Delete", "Product", new { id = news.Id })" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


